<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>WhizzApp</name>

<description>
WhizzApp Tennis Application
</description>

<author href="https://www.dusandevic.com" email="dusandevic@gmail.com">
Dusan Devic
</author>

<preference name="show-splash-screen-spinner" value="false" />

<icon src="icon.png" />
<icon src="icons/ios7/Icon57.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios7/Icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios7/Icon114.png" gap:platform="ios" width="114" height="114" />

<!-- retina iPad support: PhoneGap 2.5.0+ only -->
<icon src="icons/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />

</widget>


