@charset "utf-8";
/* CSS Document */

.navigacija li a {
	background: none;
	background: #2e3192; /* Old browsers */
	background: -moz-linear-gradient(top,  #2e3192 0%, #373a8e 50%, #2e3192 51%, #2e3192 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e3192), color-stop(50%,#373a8e), color-stop(51%,#2e3192), color-stop(100%,#2e3192)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2e3192 0%,#373a8e 50%,#2e3192 51%,#2e3192 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2e3192 0%,#373a8e 50%,#2e3192 51%,#2e3192 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2e3192 0%,#373a8e 50%,#2e3192 51%,#2e3192 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2e3192 0%,#373a8e 50%,#2e3192 51%,#2e3192 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3192', endColorstr='#2e3192',GradientType=0 ); /* IE6-9 */
	border: none;
}

.navigacija .ui-icon {
	width: 24px;
	height: 24px;	
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#home .ui-icon {
	background: url(icons/53-house.png) 50% 50% no-repeat;
	background-size: 24px 24px;
}

#videos .ui-icon {
	background: url(icons/70-tv.png) 50% 50% no-repeat;
	background-size: 24px 24px;
}

#milestones .ui-icon {
	background: url(icons/113-navigation.png) 50% 50% no-repeat;
	background-size: 24px 24px;
}

#downloads .ui-icon {
	background: url(icons/57-download.png) 50% 50% no-repeat;
	background-size: 24px 24px;
}

#search .ui-icon {
	background: url(icons/06-magnify.png) 50% 50% no-repeat;
	background-size: 17px 18px;
}

.dugme {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Trebuchet MS;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:56px;
	line-height:56px;
	width:100%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
}
.dugme:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.dugme:active {
	position:relative;
	top:1px;
}

.dugme .ui-btn-inner {
	padding: 0;
}

.centar{
	text-align: center;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 200ms !important;
}

#pocetna {
    background: url(img/wall1920.png) !important;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:scroll !important;
    background-size: 100% 93% !important;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
